﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CookiesRequired.aspx.cs" Inherits="SSOExample.CookiesRequired" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Please enable cookies.
    </div>
    </form>
</body>
</html>
